/* style.scss */

@import "./utils/variables";
@media all and (min-width: 769px) and (max-width: 1440px) {
    display: none;
}

@media all and (max-width: 768px) {
    body {
        font-family: $font;
        width: 100%;
        margin: 0;
        height: 5000px;
    }
    a:link {
        text-decoration: none;
    }
    header {
        .fixedStrip {
            display: flex;
            background-color: white;
            justify-content: center;
            align-items: center;
            height: 35px;
            background-size: 5%;
            overflow: hidden;
            box-shadow: 0px 2px 5px #d8d1;
            width: 100%;
            img {
                height: 20px;
            }
        }
        nav {
            height: 300px;
            width: 100%;
            background-color: grey;
            .localisation {
                display: flex;
                flex-direction: row;
                justify-content: center;
                background-color: rgb(221, 210, 210);
                align-items: center;
                height: 35px;
            }
            .welcomeText {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 200px;
                .btn {
                    border-radius: 50px;
                    width: fit-content;
                    height: 30px;
                    padding: 5px;
                    background: linear-gradient( $secondary-color, $primary-color);
                    color: white;
                    &:focus {
                        background-color: darken($color: $primary-color, $amount: 10%);
                    }
                }
            }
        }
    }
    .cardSelection {
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            flex-direction: row;
            align-items: center;
        }
    }
}