@charset "UTF-8";
/* style.scss */
@keyframes flash {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA; }
  90% {
    color: #9356DC;
    text-shadow: none; }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA; } }
@-webkit-keyframes hideLoader {
  to {
    overflow: hidden;
    visibility: hidden; } }
@keyframes hideLoader {
  to {
    overflow: hidden;
    visibility: hidden; } }
/* loader */
.loader {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: black;
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-animation: hideLoader 0s ease-in 3s forwards;
  animation: hideLoader 0s ease-in 3s forwards;
  overflow: hidden; }

.letter {
  color: black;
  font-family: 'Shrikhand', cursive;
  font-size: 6vmin;
  letter-spacing: -2px;
  -moz-animation: flash 1.2s ease-out 3s infinite;
  -webkit-animation: flash 1.2s ease-out 3s infinite;
  -ms-animation: flash 1.2s ease-out 3s infinite;
  -o-animation: flash 1.2s ease-out 3s infinite;
  animation: flash 1.2s ease-out 3s infinite;
  /* ma boucle de délais sur chaque lettre <3 */ }
  .letter:nth-child(1) {
    -webkit-animation-delay: 0.05s;
    -moz-animation-delay: 0.05s;
    animation-delay: 0.05s; }
  .letter:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  .letter:nth-child(3) {
    -webkit-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    animation-delay: 0.15s; }
  .letter:nth-child(4) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .letter:nth-child(5) {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s; }
  .letter:nth-child(6) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .letter:nth-child(7) {
    -webkit-animation-delay: 0.35s;
    -moz-animation-delay: 0.35s;
    animation-delay: 0.35s; }
  .letter:nth-child(8) {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .letter:nth-child(9) {
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
    animation-delay: 0.45s; }
  .letter:nth-child(10) {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  .letter:nth-child(11) {
    -webkit-animation-delay: 0.55s;
    -moz-animation-delay: 0.55s;
    animation-delay: 0.55s; }
  .letter:nth-child(12) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .letter:nth-child(13) {
    -webkit-animation-delay: 0.65s;
    -moz-animation-delay: 0.65s;
    animation-delay: 0.65s; }
  .letter:nth-child(14) {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s; }
  .letter:nth-child(15) {
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    animation-delay: 0.75s; }
  .letter:nth-child(16) {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s; }
  .letter:nth-child(17) {
    -webkit-animation-delay: 0.85s;
    -moz-animation-delay: 0.85s;
    animation-delay: 0.85s; }
  .letter:nth-child(18) {
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    animation-delay: 0.9s; }
  .letter:nth-child(19) {
    -webkit-animation-delay: 0.95s;
    -moz-animation-delay: 0.95s;
    animation-delay: 0.95s; }
  .letter:nth-child(20) {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s; }

/* à compléter */
/* éclaircir au survol la couleur de fond des boutons + ombre portée forcée */
/*
@mixin heading-shadow($colour: lightgrey) {
    @if ( lightness($colour) < 25%) {
        $colour: lighten($colour, 10%);
    }
    @else {
        $colour: darken($colour, 10%);
    }
    box-shadow: darken($colour, 10%);
}
*/
/* dégradé bouton explorer */
@keyframes gradient {
  0% {
    background-color: #FF79DA; }
  90% {
    background-color: #9356DC; }
  100% {
    background-color: #FF79DA; } }
/* coeur effets */
.text .button-heart {
  position: absolute;
  top: 110px;
  right: 2%;
  color: grey;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  margin: 4.5% 2% 0 0;
  size: 1rem;
  font-weight: 100;
  font-size: large; }
  .text .button-heart--inactive {
    position: absolute;
    top: 0px;
    right: 10%; }
    .text .button-heart--inactive:hover {
      /*(effet pathfinder)*/
      background: linear-gradient(#FF79DA, #9356DC);
      -webkit-background-clip: text;
      -ms-background-clip: text;
      background-clip: text;
      color: transparent; }
  .text .button-heart--checked {
    position: absolute;
    opacity: 0;
    margin-right: 0;
    top: 0px;
    right: 10%; }
    .text .button-heart--checked:hover {
      opacity: 1;
      /*(effet pathfinder)*/
      background: linear-gradient(#FF79DA, #9356DC);
      -webkit-background-clip: text;
      -ms-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: large;
      margin-right: 0;
      transition: opacity 300ms 200ms ease-in-out; }

.cardSection .button-heart {
  display: inline-block;
  cursor: pointer;
  size: 1.5rem;
  font-weight: 100;
  color: grey;
  position: relative;
  font-size: xx-large;
  align-items: center; }
  .cardSection .button-heart--inactive {
    position: absolute;
    bottom: 20%;
    right: 10%; }
    .cardSection .button-heart--inactive:hover {
      /*(effet pathfinder)*/
      background: linear-gradient(#FF79DA, #9356DC);
      -webkit-background-clip: text;
      -ms-background-clip: text;
      background-clip: text;
      color: transparent; }
  .cardSection .button-heart--checked {
    opacity: 0;
    position: absolute;
    display: flex;
    bottom: 20%;
    right: 10%;
    align-items: center; }
    .cardSection .button-heart--checked:hover {
      opacity: 1;
      /*(effet pathfinder)*/
      background: linear-gradient(#FF79DA, #9356DC);
      -webkit-background-clip: text;
      -ms-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: xx-large;
      margin-right: 0;
      transition: opacity 300ms 200ms ease-in-out; }

/* animation */
@keyframes appearing {
  0% {
    opacity: 0; }
  25% {
    opacity: .2; }
  50% {
    transform: translateY(5%); }
  75% {
    opacity: .75; }
  100% {
    opacity: 1; } }
.card-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  animation: appearing 1.5s ease-in-out;
  /* mon animation apparition des plats progressive */ }
  .card-selection:nth-child(1) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .card-selection:nth-child(2) {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .card-selection:nth-child(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .card-selection:nth-child(4) {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s; }
  .card-selection:nth-child(5) {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s; }
  .card-selection:nth-child(6) {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s; }
  .card-selection:nth-child(7) {
    -webkit-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    animation-delay: 1.4s; }
  .card-selection:nth-child(8) {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s; }
  .card-selection:nth-child(9) {
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    animation-delay: 1.8s; }
  .card-selection:nth-child(10) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s; }
  .card-selection:nth-child(11) {
    -webkit-animation-delay: 2.2s;
    -moz-animation-delay: 2.2s;
    animation-delay: 2.2s; }
  .card-selection:nth-child(12) {
    -webkit-animation-delay: 2.4s;
    -moz-animation-delay: 2.4s;
    animation-delay: 2.4s; }
  .card-selection:nth-child(13) {
    -webkit-animation-delay: 2.6s;
    -moz-animation-delay: 2.6s;
    animation-delay: 2.6s; }
  .card-selection:nth-child(14) {
    -webkit-animation-delay: 2.8s;
    -moz-animation-delay: 2.8s;
    animation-delay: 2.8s; }
  .card-selection:nth-child(15) {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s; }
  .card-selection:nth-child(16) {
    -webkit-animation-delay: 3.2s;
    -moz-animation-delay: 3.2s;
    animation-delay: 3.2s; }
  .card-selection:nth-child(17) {
    -webkit-animation-delay: 3.4s;
    -moz-animation-delay: 3.4s;
    animation-delay: 3.4s; }
  .card-selection:nth-child(18) {
    -webkit-animation-delay: 3.6s;
    -moz-animation-delay: 3.6s;
    animation-delay: 3.6s; }
  .card-selection:nth-child(19) {
    -webkit-animation-delay: 3.8s;
    -moz-animation-delay: 3.8s;
    animation-delay: 3.8s; }
  .card-selection:nth-child(20) {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    animation-delay: 4s; }

/* */
.card-selection__content {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: unset;
  border-radius: 15px;
  background: #fff;
  height: 4.25rem;
  width: 100%;
  margin-bottom: 0.75rem;
  overflow-x: hidden;
  /*masquer place de la coche */
  box-shadow: 0 5px 0.94rem 0 #c3c3c3; }

.card-selection__text {
  width: 82%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.card-selection__text > .card-selection__line1 {
  display: inline-block;
  margin: 0.75rem 0px 0.125rem 0.75rem;
  font-weight: 500;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 99; }

.card-selection__text > .card-selection__line2 {
  display: inline-block;
  margin: 0px 0px 15px 0.75rem;
  font-weight: 200;
  font-size: 0.95rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.card-selection__sideText {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0px -2.5rem 0.78rem 0px;
  font-weight: 500; }

.card__slider {
  display: inline-block;
  position: relative;
  width: 4rem;
  background: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  left: 4rem;
  opacity: 0; }

.card__slider--picto {
  display: inline-block;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  color: #fff;
  font-size: 1.5rem; }

.card-selection__content:hover {
  box-shadow: 0 5px 0.94rem 0 black;
  transition: box-shadow 400ms; }

.card-selection__content:hover > .card-selection__sideText {
  transform: translateX(-1rem);
  transition: transform 500ms ease-in-out; }

.card-selection__content:hover > .card__slider {
  transform: translateX(-4rem);
  opacity: 1;
  transition: transform 500ms ease-in-out; }

.card-selection__content:hover > .card__slider > .card__slider--picto {
  transform: rotate(-360deg);
  transition: transform 800ms ease; }

.card-selection__content:hover > .card-selection__text {
  width: 60%; }

/* hauteur de page classique =
3 entrées, 3 plats et 3 desserts */
.cardSection {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 30px 30px;
  border-top-right-radius: 30px 30px;
  background-color: white;
  position: relative;
  top: -50px;
  /*height: $classic-height;*/
  width: 95%;
  margin: 0;
  padding: 2.5%;
  list-style-type: none;
  counter-reset: countSelection;
  /* la longueur de cardSection s'adapte s'il y a + de plats que les 9 de base */ }
  .cardSection .card-selection:before {
    counter-increment: countSelection 1;
    height: calc($classic-height+($card-selection__content-height*(countSelection-9))); }

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0; }

/*
p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
*/
/* Header */
.welcomePage {
  height: 305px;
  width: 100%; }

.fixedStrip {
  height: 40px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 35%;
  border-bottom: grey 1px;
  box-shadow: 0px 5px 5px grey;
  position: relative;
  top: 0; }

.fixedStrip img {
  height: 20px; }

nav {
  height: 235px;
  background-color: #f6f6f6; }

.localisation {
  background-color: #dbd6d6;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%; }

.fas {
  margin-right: 6px; }

.welcomeText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: auto;
  height: 200px;
  align-content: center;
  text-align: center; }

.welcomeText h1 {
  font-size: 110%;
  hyphens: manual; }

.welcomeText p {
  font-size: 75%;
  hyphens: manual;
  white-space: normal;
  color: #858280;
  margin: 0 0 13px; }

a {
  text-decoration: none; }

.welcomeText a {
  display: block; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.4rem;
  width: 100%;
  font-size: 70%;
  color: white;
  height: 30px;
  margin: 5px 0;
  box-shadow: 0px 3px 5px grey;
  border-radius: 25px;
  animation: gradient 5s ease-out 3s infinite; }

/* Fonctionnement */
h2 {
  font-size: 100%; }

.card__step .fas {
  font-size: small; }

.card {
  padding: 2rem 1rem; }

.container {
  max-width: 1280px;
  margin: auto;
  position: relative; }

.card__title {
  margin: 0 0 30px; }

.card__steps {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: countStep; }

.card__step {
  padding: 1rem 1.5rem;
  margin: 1rem 0 1rem .75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem grey;
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  align-items: center;
  height: 30px; }
  .card__step:hover {
    background-color: #f2eafb; }

.card__step:first-child {
  margin-top: 0; }

.card__step:before {
  counter-increment: countStep 1;
  content: counter(countStep) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -.75rem; }

.card__icon {
  margin-right: 1rem;
  color: #7e7e7e; }

.stepText {
  font-size: 80%; }

/* Restaurant */
aside {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 850px;
  background-color: white;
  padding-bottom: 20px; }

h4 {
  font-size: 100%;
  margin: 0;
  padding: 30px 5% 15px; }

.cardPictureTop {
  height: 195px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  overflow: hidden;
  margin: 0 5% 5% 5%;
  background-color: white;
  display: flex;
  flex-direction: column; }

.cardPictureTop :nth-child(5) {
  margin-bottom: 20%; }

/* Dézoomer */
.zoomOut {
  transform: scale(1);
  transition: .3s ease-in-out; }

.zoomOut:hover {
  transform: scale(0.95); }

.cardPictureTop a {
  display: block; }

/* */
.cardPictureTop img {
  width: 100%;
  height: 117px;
  object-fit: cover;
  object-position: center; }

.text {
  padding: 0.2em 0.5em;
  line-height: 1em; }

h5 {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
  color: black;
  font-size: 90%; }

.text p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: auto;
  text-align: left;
  color: grey;
  font-size: 70%; }

.nouveau {
  background-color: #99E2D0;
  position: absolute;
  top: 10px;
  left: 80%;
  height: 15px;
  width: 15%; }

.nouveau p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50%;
  color: #0d6e0d;
  margin: auto;
  height: 15px; }

/* Footer */
footer {
  display: flex;
  width: 100%;
  height: 170px;
  background-color: #2e2c2c;
  padding: 0 0 20px; }

.footer__content {
  margin: 7% 5%; }

.footer__img {
  display: flex;
  height: 20px; }

footer p {
  font-size: 65%;
  color: white; }

footer a {
  text-decoration: none; }

footer a:hover {
  text-decoration: underline; }

/* palette du gout */
.goBack {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  background-color: white; }

.bigPicture img {
  display: flex;
  width: 100%;
  height: 270px;
  background-size: cover;
  object-fit: cover; }

/* choix menu */
fieldset {
  border: none; }

.cardSection__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.cardSection__title h5 {
  font-family: 'Shrikhand', cursive;
  display: flex;
  justify-content: left;
  font-size: x-large;
  margin: 20px 0 10px; }

.cardSection h6 {
  text-transform: uppercase;
  border-bottom: solid 2px #99E2D0;
  padding-bottom: 3px;
  margin-bottom: 15px;
  width: 7%; }

h7 {
  font-size: medium;
  font-weight: 500; }

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-bottom: 10px; }

.cmd {
  width: 50%;
  height: 30px;
  padding: 0px 30px; }

/* reponsive tablette */
/* reponsive desktop */

/*# sourceMappingURL=style.css.map */
