        @keyframes flash {
            0% {
                color: $color-secondary;
                text-shadow: 0 0 7px $color-secondary;
            }
            90% {
                color: $color-primary;
                text-shadow: none;
            }
            100% {
                color: $color-secondary;
                text-shadow: 0 0 7px $color-secondary;
            }
        }
        
        @-webkit-keyframes hideLoader {
            to {
                overflow: hidden;
                visibility: hidden;
            }
        }
        
        @keyframes hideLoader {
            to {
                overflow: hidden;
                visibility: hidden;
            }
        }
        /* loader */
        
        .loader {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: rgb(0, 0, 0);
            opacity: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            -webkit-animation: hideLoader 0s ease-in 3s forwards;
            animation: hideLoader 0s ease-in 3s forwards;
            overflow: hidden;
        }
        
        .letter {
            color: black;
            font-family: 'Shrikhand', cursive;
            font-size: 6vmin;
            letter-spacing: -2px;
            -moz-animation: flash 1.2s ease-out 3s infinite;
            -webkit-animation: flash 1.2s ease-out 3s infinite;
            -ms-animation: flash 1.2s ease-out 3s infinite;
            -o-animation: flash 1.2s ease-out 3s infinite;
            animation: flash 1.2s ease-out 3s infinite;
            /* ma boucle de délais sur chaque lettre <3 */
            @for $i from 1 through 20 {
                &:nth-child(#{$i}) {
                    -webkit-animation-delay: (0.05s * $i);
                    -moz-animation-delay: (0.05s * $i);
                    animation-delay: (0.05s * $i);
                }
            }
        }