/* animation apparition des plats */

@keyframes appearing {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .2;
    }
    50% {
        transform: translateY(5%);
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

$delay-appearing :200ms;
.card-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.card-selection,
h6 {
    /* mon animation apparition des plats progressive */
    opacity: 0;
    animation: appearing 1.2s ease-in-out forwards;
    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            -webkit-animation-delay: (0.2s * $i);
            -moz-animation-delay: (0.2s * $i);
            animation-delay: (0.2s * $i);
        }
    }
}


/* */

.card-selection__content {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 15px;
    background: #fff;
    height: 68px;
    width: 100%;
    margin-bottom: 12px;
    overflow-x: hidden;
    cursor: pointer;
    @include card-selection__content-shadow;
}

.card-selection__text {
    width: 82%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card-selection__line1 {
    display: inline-block;
    margin: 12px 0px 2px 12px;
    font-weight: 500;
    font-size: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-selection__line2 {
    display: inline-block;
    margin: 0px 0px 15px 12px;
    font-weight: 200;
    font-size: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-selection__sideText {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0px -40px 12px 0px;
    font-weight: 500;
    @media all and (min-width: 769px) {
        margin: 0px -60px 12px 0px;
    }
}

.card__slider {
    display: inline-block;
    position: relative;
    width: 64px;
    background: $color-tertiary;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    left: 64px;
    opacity: 0;
    &--picto {
        display: inline-block;
        position: absolute;
        top: 24px;
        left: 20px;
        color: #fff;
        font-size: 24px;
    }
}

.card-selection__content:hover .card-selection__sideText {
    transform: translateX(-15px);
    transition: transform 500ms ease-in-out;
}

.card-selection__content:hover .card__slider {
    transform: translateX(-64px);
    opacity: 1;
    transition: transform 500ms ease-in-out;
}

.card-selection__content:hover .card__slider--picto {
    transform: rotate(360deg);
    transition: transform 700ms ease-in-out;
}

.card-selection__content:hover .card-selection__text {
    width: 60%;
    @media all and (min-width: 769px) {
        width: 80%;
    }
}