/* loader */

@keyframes flash {
    0% {
        color: $color-secondary;
        text-shadow: 0 0 7px $color-secondary;
    }
    90% {
        color: $color-primary;
        text-shadow: none;
    }
    100% {
        color: $color-secondary;
        text-shadow: 0 0 7px $color-secondary;
    }
}

@-webkit-keyframes hideLoader {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}

@keyframes hideLoader {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}


/* */