@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* à compléter */

@mixin mobile-only {
    @media screen and (max-width: map-get($map: breakpoint, $key: mobile)) {
        @content;
    }
}

@mixin btn-shadow {}


/* mixin pour les box-shadow + foncer la couleur de l'ombre au survol */

@mixin classic-and-hover-shadow($x-axis: 5px, $y-axis: 5px, $blur: 5px, $color:grey) {
    box-shadow: $x-axis $y-axis $blur grey;
    &:hover {
        box-shadow: $x-axis $y-axis $blur darken($color: grey, $amount: 20%);
    }
}

@mixin shadow-radius {
    @include classic-and-hover-shadow;
    border-radius: $radius25;
}